<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/d065de6d-eb3b-492d-bed0-18a613e9975d/resourceGroups/PinsMexico/providers/Microsoft.Web/sites/PinsMexico</ResourceId>
    <ResourceGroup>PinsMexico</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://pinsmexico.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://pinsmexico.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$PinsMexico</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>